.menubox{
 background-color: powderblue;
 font-size:20px;
 height: 60px;
 padding: 0px 20px;
 text-align: center;
}

.menubox a {
display: inline-block;
text-decoration: none;
padding-top: 14px;
padding-right: 8%;
padding-left: 8%;
padding-bottom: 24px;
}

.menubox a:hover{
   background-color: orange;
}

/*The 2nd way to create a navigation bar using list*/

.nav{
  background-color: powderblue;
  font-size:20px;
}

.nav li {
display:inline;
width:20%;
float: left;
color: white;
background-color:powderblue;
height: 50px;
text-align: center;
padding-top: 25px;
}



.nav li:hover{
background-color: orange;
}



.container {
width:100%;
height: 800px;
border: 2px solid red;
}


.sub{
  width:40%;
  height: 40%;
  float: left;
  border: 2px solid red;
  margin: 2%;
}
