.website{

}
.window{
  position: static;
  height: 60%;
  width: 30%;
  border: 3px solid red;
  text-align: center;
  padding: 2%;
  float: left;
  margin-left: 10%;
  margin-top: 10%;
}
.click:hover{
  background: black;
  color: white;
  padding: 1%;
  border-radius: 8px;
  text-decoration: none;
}

/*window1*/
.modal1{
  height: 70%;
  width: 50%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(30, 30, 30, 0.5);
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
.modal1:target{
  opacity: 1;
  pointer-events: auto;
}
